{
  "presets": [
    ["env", {
      "targets": {
        "chrome": "10",
        "safari": "6",
        "IE": "8"
      }
    }]
  ],
  "plugins": [ ["transform-object-rest-spread", {loose: true}],["transform-es2015-modules-commonjs", {loose: true}], ["babel-plugin-add-module-exports", {loose: true}], 
  ["babel-plugin-transform-es3-member-expression-literals", {loose: true}], ["babel-plugin-transform-es3-property-literals", {loose : true}]]
}